[Desktop Entry]
Name=Facetracker
Exec=facetracker-gui
Type=Application
Icon=de.z_ray.Facetracker
Categories=Utility;
Keywords=facetracker;vtube;webcam;
Comment=A graphical interface for OpenSeeFace's Facetracker